* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FAF0DC;
}

/* Navigation Styling Starts Here */
.header-main {
    width: 100%;
    max-height: 120px;
    background-color: #33186B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
  }
  
  .header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  
  
  .header-main-nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .header-main-title {
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
  }

.main-header-search {
    width: 30%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.main-header-search input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    border: 0.5px solid rgb(53, 53, 53);
    border-radius: 10px;
    background-color: #ffffff;
}
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; 
    position: absolute;
    top: 100%; /* Position the dropdown below the search bar */
    left: 5%;
    width: 100%;
    z-index: 1;
}

#myMenu li a {
    width: 90%;
    padding: 12px;
    text-decoration: none;
    background-color: white;
    color: black;
    display: block; /* Display the list items as blocks */
}

.main-header-search:hover input::placeholder {
    color: transparent;
}
#myMenu li a:hover{
    background-color: #cee6fc;
}
/* Display the list when the input is focused */


/* Navigation Styling Ends Here */


/* Background  Styling Starts here Here */
.Page_01_background{
    background-image: linear-gradient(rgba(10, 18, 50, 0.7),rgba(4,9,30,0.7 )),url("Photos/index_background_top.jpg");
    }
.Page_01_background{
    background-size:cover;
    width: 100%;
    height: 690px; 
    background-position: center top;
    padding: 1px 0;
    position: relative;
}
/* Same background text styling for page 1,3,4,5 with media queries */
.Page_01_Title{
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: auto;
}

.Page_01_Title h1{
  font-size: 60px;
  font-weight: 400;
}
.Page_01_Title h1 strong {
border-bottom: 5px solid  #ff9600;
}

.Page_01_Title p{
  font-size: 25px;
}

.header-main-button a ,.start-quiz a {
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px; 
    border-radius: 200px;
    background-color: #ff9600;
    transition: background-color 0.3s, color 0.3s;
}
.header-main-button i{
    margin-left: 5px;
}

  
.header-main-button a:hover {
    background-color: #ff7b00;
    color: black;
}

/* bckground styling   media queries*/
@media only screen and (max-width: 768px) {
.Page_01_background,{
    height: 500px; 
}

.Page_01_Title h1 {
    font-size: 35px; 
}

.Page_01_Title p,{
    font-size: 16px; 
}
}
/* Media query for even smaller screens */
@media only screen and (max-width: 480px) {
.Page_01_background{
    height: 400px; /* Further adjust the height for even smaller screens */
}


.Page_01_Title{
    margin-top: 10px;
    font-size: 20px; /* Further adjust the font size for even smaller screens */
}

.Page_01_Title p{
    font-size: 14px; /* Further adjust the font size for even smaller screens */
}
}
/* Background  Styling ends here Here */



/* Main_Content_Different Categories start here */
.Page_01_Main_Content_Quiz_Categories{
    width: 100%;
    height: auto;
    margin: 40px 0;
}
.Page_01_Main_Content_Quiz_Categories .category_title {
    font-size: 50px;
    font-weight: 600;
    border-bottom: 5px solid #ff9600;
    display: inline-block; 
    margin-right: 10px;
}
.quiz_category{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.header_quiz_category {
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
}

.Page_01_Main_Content_Quiz_Categories .card-footer {
    background-color: #f3e9fc; 
    padding: 15px; 
}

.Page_01_Main_Content_Quiz_Categories .btn-hover {
    font-size: 15px;
    font-weight: 500;
    background-color: #ff9600; 
    color: black;
    border-radius: 30px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Page_01_Main_Content_Quiz_Categories .btn-hover:hover {
    background-color: #ff7b00; /* Darker shade on hover */
}

.Page_01_Main_Content_Quiz_Categories .card {
    border-radius: 20px; 
    overflow: hidden; 
}
.Page_01_Main_Content_Quiz_Categories .card:hover {
    box-shadow: 0 4px 8px rgba(97, 93, 93, 0.5); 
    transform: scale(1.05); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    border-bottom: 4px solid #2e93f2;
}

.Page_01_Main_Content_Quiz_Categories .card img {
    width:auto;
    height:320px;
    object-fit: cover;
}
/* Main_Content_Different Categories ends here */

/* Pop up start here */
.pop-up{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    z-index:  3;
    background-color: white;
    width: 2000px;
    max-width: 80%;
    height: auto;
}
.pop-up.active{
    transform: translate(-50%,-50%) scale(1);
}
.pop_up_flex_box {
    width: 100%;
    display: flex;
    }
.pop_up_left_img_container {
    padding: 20px; 
    width: calc(80% - 40px); /* Calculate the width with 40px (20px padding on both sides) subtracted */
}
#pop_up_image{
    height: auto;
    width: 100%;
    border-radius: 5px;
}
 .pop_up_right_container {
    padding: 20px; /* Optional: Add padding to the right container */
    width: calc(80% - 40px); /* Calculate the width with 40px (20px padding on both sides) subtracted */
}
.pop_up_header{
    padding:20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.quiz_name{
    font-size: 40px;
    font-weight: 600;
    border-bottom: 5px solid #ff9600;
}
.pop-up-body h3{
    font-size:30px;
    font-weight: 500;
    text-align: center;
}
.pop-up-body ol{
    margin-bottom: 10%;
}
.pop-up-body ol li{
    font-size: 20px;
    font-weight: 400;
}
.pop_up_header .close-button{
    cursor: pointer;
    border: none;
    background: none;
    font-size: 35px;
    font-weight: bold;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
















/* question page Starts Here */
#quiz{
    background-color: #001a33;
    position: relative;
    height: auto;
    width: 1050px;
    margin: 70px auto;
    border-radius: 40px;
    box-shadow: 5px 7px 5px 5px rgba(0,26, 51, 0.5);
    padding: 2px 50px 50px 50px;
}
#Title{
    position: relative;
    text-align: center;
    font-size: 60px;
    background-color:rgb(255, 167, 135);
    color: black;
    border-radius: 40px;
    margin: 30px 10px;
    padding: 2px 0px;
}
#tracker{
    position: relative;
    margin: 20px 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;

}
#question-circles {
    display: flex;
}
.question{
    position: relative;
    width: 40px;
    height: 40px;
    background: #8c8c8c;
    border-radius: 50%;
    text-align: center;
    padding: 9px;
    color: white;
    font-weight:bolder;
    font-size: 18px;
    margin: 0px 15px;
    border: 1.5px solid white;
}
#score {
    text-align: right;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#topline{
    margin-bottom: 10px;
}
#botoomline{
    margin-top: 20px;
}
hr{
    border: 2px solid #FAF0DC;
    position: relative;
    clear: both; /* prevents the botom line covering the next question button */
}
#question-text{
    position: relative;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust alignment as needed */
    margin-top: 15px;
}
.button{
    flex-basis: calc(50% - 20px); /* Adjust spacing as needed */
    box-sizing: border-box;
    position: relative;
    background-color: paleturquoise;
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin: 10px 0;
}
.button:hover{
    cursor: pointer;
    background-color: #99ceff;
    border: 1.5px solid #FAF0DC;
}
.button span{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: black;
}
#submit{
    position: relative;
    float: right; /* Basically pushes the button the right of the parent element */
    background-color:coral;
    color:black;
    width:230px;
    padding: 7px;
    border-radius: 50px;
    font-size: 28px;
    margin: 5px 0px 15px 5px;
    font-weight: bold;
}
#submit:hover{
  border: 2px solid #FAF0DC;
  background-color: darkorange;
}
footer{
    position: relative;
    margin-bottom: 30px;
}
#progress{
    position: relative;
    float: left;
    text-align: right;
    margin-top: 20px;
    font-size: 30px;
    color:white;
    font-weight: bold;
}
#timer{
    position: relative;
    float: right;
    text-align: right;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#resultbox {
	display: none;
}
#quizset{

}
#result{
    text-align: center;
    font-size: 48px;
    color:white;
}
#retake {
	position: relative;
	display: block;
	margin: 10px auto 25px auto;
	background-color: coral;
	color: black;
	width: 250px;
	padding: 7px;
	border-radius: 50px;
	font-size: 28px;
    font-weight: bold;
	border: 1px solid grey;
	text-align: center;
}
#retake:hover {
	border: 2px solid #FAF0DC;
  background-color: darkorange;
}

/* question page Ends Here */